@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Epilogue', sans-serif;
}

.stats p{
  @apply text-5xl font-bold
}
.stats span{
  color: #49566D;
  font-size: 16px;
  
  @apply font-normal;
}


.button{
  @apply rounded-md py-3 px-6 transition-colors font-bold
}
.linear-bg-1:hover{
  background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}

.bg-img{
  max-width: 40%;
}